/* Minified Eric Meyer reset CSS; see css/_reset.css */
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable*/

/*
  End reset CSS.

:root {
  --color-dark: #383838;
  --color-medium: #505050;
  --color-light: #ffffff;
  --color-important: #04a678;
  --color-link: #0a74a2;
}

p,
summary {
	padding-bottom: 1.222em;
}
ul,
ol,
dl {
	padding-bottom: 0.611em;
	padding-left: 1.777em;
}
li {
	padding-bottom: 0.611em;
}
ul {list-style-type: disc;}
ol {list-style-type: decimal;}

h1 {
	font-size: 1.777em;
	line-height: 1.376em;
	padding-top: 0.688em;
	}
h2 {
	font-size: 1.333em;
	line-height: 1.375em;
	padding-bottom: 0.917em;
	font-weight: bold;
  color: var(--color-important)
	}

h2,
h3,
h4,
h5 {font-family: "Arial", serif;
	}

header a{color: var(--color-important); text-decoration: none;}
header a:visited{color: var(--color-important);}
header {padding-top: 3.667em;}

#body {
	padding-left: 5.641025641%;
	padding-right: 5.641025641%;
	margin: 0 auto;
  background-color: var(--color-light);
  color: var(--color-dark);
}
#header {
	text-transform: lowercase;
  color: var(--color-important)
	}
#navigation {
	position: fixed;
	width: 100%;
	padding: 0;
	top: 0;
	left: 0;
	background-color: var(--color-dark);
	z-index: 100;
}
#footer {
	font-size: 0.5em;
	line-height: 1em;
}

.navigation {
	line-height: 1;
	padding: 0;
}
.navigation li {
	line-height: 1;
	display: inline-block;
	padding: 0;
	}
.navigation li a {
	display: block;
	padding: 1.222em;
	padding-top: 0.722em;
	padding-bottom: 0.722em;
	text-decoration: none;
	background-color: var(--color-dark);
	color: var(--color-light);
	}
.byline {
    font-size: 0.5em;
    line-height: 1em;
    padding-top:0;
  }
